.form {
  margin: auto;
  @media screen and (min-width: 600px) {
    max-width: 400px;
  }
  &__navigation {
    display: flex;
    border : 1px solid black;
    margin-bottom: 2px;
    & > div {
      flex:1;
      border : 1px solid black;
      padding:10px;
      text-align: center;
      &.active {
        background-color: lightblue;
      }
    }
  }
  &__container, &__completion {
    border : 1px solid black;
    padding : 10px;
  }
  &__error {
    &--item {
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,0.3);;
      background-color: rgba(0,0,0,0.2);
      color :red;
      font-weight: 500;
      padding:5px;
      margin:5px 0px;
    }
  }
  &__field {
    margin: 15px 0;
    &--checkbox > span {
      display: flex;
      flex-direction: row;
    }
  }
  &__bottom-bar {
    margin-top:20px;
  }
  &__completion {
    color : green;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    h2 {
      font-size: 30px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    & > button {
      outline: none;
      cursor:pointer;
      padding : 10px;
      font-size: 16px;
      font-weight: 500;
      border:1px solid rbga(0,0,0,0.5);
      border-radius:2px;
      background-color: blue;
      transition: background-color 0.3s;
      color : white;
      &:focus {
        border: 1px solid blue;
        color:blue;
        background: white;
      }
      &[type=submit] {
        background-color: green;
        &:focus {
          border: 1px solid green;
          color:green;
          background: white;
        }
      }
      &:disabled {
        background-color: gray;
        cursor:initial;
      }
      &.hidden {
        visibility: hidden;
      }
    }
  }
}
